* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "DS-DIGI";
  src: url("./fonts/DS-DIGI.TTF") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffffc1;
}

.container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-width: max-content;
  min-height: max-content;
  background-color: #a179b9;
  font-family: "Orbitron", Courier, monospace;
  font-size: 2rem;
  padding: 0.5rem;
  border: 0.2rem solid #7f6a8d;
  border-radius: 0.5rem;
  gap: 0.5rem;
}

.display-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  background-color: #ffffffc1;
  border-radius: 0.5rem;
  border: 0.2rem solid #7f6a8d;
  min-height: 7rem;
  font-family: "DS-DIGI", Courier, monospace;
}
.display {
  padding-right: 0.5rem;
  font-size: 4.5rem;
}
button {
  font-family: "Orbitron", Courier, monospace;
  font-size: 2rem;
  border: 0.2rem solid #7f6a8d;
  border-radius: 0.5rem;
  background-color: #ffffffc1;
}
button:hover {
  filter: brightness(0.95);
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  margin-bottom: 0.2rem;
}

.btn {
  padding: 1rem;
  width: 25%;
}

.zero.btn {
  width: 51%;
  padding: 1rem;
}

.operator.btn {
  width: 25%;
  background-color: #e1c0f4c6;
}

.extra {
  padding: 1rem;

  width: 25%;
  background-color: #cdb7db;
}

#period {
  font-weight: 800;
}
